html {
    scroll-behavior: smooth;
}

@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Roboto&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a,
li,
ul,
span {
    text-decoration: none;
}

li,
ul {
    list-style: none;
}

body {
    background-image: linear-gradient( to bottom, rgba(255, 101, 102, 0.3) 10.8%, rgba(205, 180, 219, 0.5) 90%);
    font-family: 'Roboto', sans-serif;
}


/* Root colors */

:root {
    --red-color: rgba(255, 51, 102, 0.8);
    --pink-color: rgba(250, 138, 187, 0.8);
    --purple-color: rgba(137, 87, 255, 0.8);
    --blue-color: rgba(0, 187, 255, 0.8);
    --green-color: rgba(0, 204, 136, 0.8);
    --yellow-color: rgba(255, 187, 0, 0.8);
    --orange-color: rgba(255, 107, 0, 0.8);
    --dark-mode: rgba(7, 5, 16, 0.8);
    --text-color-grey: rgba(108, 117, 125, 0.8);
}

.red-color {
    background-color: var(--red-color);
}

.pink-color {
    background-color: var(--pink-color);
}

.purple-color {
    background-color: var(--purple-color);
}

.blue-color {
    background-color: var(--blue-color);
}

.green-color {
    background-color: var(--green-color);
}

.yellow-color {
    background-color: var(--yellow-color);
}

.orange-color {
    background-color: var(--orange-color);
}


/* Every color seperate class */

.color-change {
    background-color: var(--red-color);
}

.dark-mode-color {
    background-color: var(--dark-mode);
}

#container-top {
    display: flex;
    align-items: center;
    justify-content: center;
    position: sticky;
    min-width: 350px;
    top: 0;
}

#nav-bar {
    width: 90%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin: 1.5rem 0;
    font-weight: bolder;
    font-family: 'Poppins', sans-serif;
    position: relative;
}

.nav-left {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-weight: 600;
    color: var(--text-color-grey);
}

.nav-left>span {
    cursor: pointer;
    color: var(--dark-mode);
    transition: .4s all;
}

.nav-left>span:hover {
    color: var(--text-color-grey);
    transform: scale(1.01, 1.01);
}

.nav-right {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: end;
    position: relative;
}

#logo {
    width: 40px;
    height: 40px;
    margin-right: 1rem;
}

#nav-logo {
    cursor: pointer;
    padding: .3rem .4rem;
    border: .1rem solid var(--dark-mode);
    border-radius: 50%;
    color: var(--dark-mode);
    margin-right: 1.5rem;
    position: relative;
    transition: .5s all;
}

#nav-logo:hover {
    /* transform: scale(1.1, 1.1); */
    border: .1rem solid var(--text-color-grey);
    color: var(--text-color-grey);
}

#nav-logo:focus {
    background-color: black;
    transform: scale(0.8);
    transition: all .5s;
}

.nav-log-hover-transition {
    border-radius: 25% !important;
}

#login {
    cursor: pointer;
    padding: 0.5rem 0.8rem;
    border-radius: 0.5rem;
    border: none;
    transition: 0.4s all;
}

#login:hover {
    transform: scale(1.1, 1.1);
}

.drop-down-menu {
    display: grid;
    height: 0px;
    width: 11rem;
    background-color: #fff;
    color: rgba(6, 6, 0, 0.8);
    position: absolute;
    top: 46px;
    right: 106px;
    grid-template-columns: 1fr;
    border-radius: 18px 2px;
    z-index: 1;
    overflow: hidden;
    opacity: 0;
    transition: all .5s;
}

.drop-down-menu:hover {
    cursor: pointer;
}

.drop-down-menu-display {
    height: 80px;
    opacity: 1;
}

.colors {
    display: flex;
    align-items: center;
    padding: 0.5rem 1rem;
    font-weight: 600;
    font-size: 0.9rem;
    height: 40px;
    border-radius: 18px 2px 0px 0px;
}

.color-toggle-menu {
    display: flex;
    align-items: center;
    padding: 0.5rem 1rem;
    font-weight: 600;
    font-size: 0.9rem;
    height: 40px;
}

.color-toggle-menu:hover {
    border-radius: 18px 2px 0px 0px;
    background-color: rgba(206, 212, 218, 0.2);
}

.colors:hover {
    border-radius: 18px 2px 0px 0px;
    /* background-color: rgba(206, 212, 218, 0.2); */
}

.toggle-color {
    padding: 0 0.5rem;
}

.dark-mode {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 0.5rem;
    font-weight: 600;
    font-size: 0.9rem;
    height: 40px;
}

.dark-mode:hover {
    border-radius: 0px 0px 18px 2px;
    background-color: rgba(206, 212, 218, 0.2);
}

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
    transform: scale(0.5);
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked+.slider {
    background-color: var(--dark-mode);
}

input:focus+.slider {
    box-shadow: 0 0 1px var(--dark-mode);
}

input:checked+.slider:before {
    transform: translateX(26px);
}

.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

.bottom {
    height: 200vh;
}

.colors-menu {
    z-index: 2;
    flex-direction: column;
    flex-grow: 1;
    top: 65px;
    right: 159px;
    height: 280px;
    width: 11rem;
    background-color: #fff;
    border-radius: 18px 2px;
    color: rgba(6, 6, 0, 0.8);
    position: absolute;
    top: 46px;
    right: 106px;
    opacity: 0;
    height: 0px;
    overflow: hidden;
    transition: height .5s, opacity .5s;
}

.colors-menu:hover {
    cursor: pointer;
}

.display-flex {
    height: 330px;
    opacity: 1;
}

.col {
    height: 20px;
    width: 20px;
    border-radius: 50%;
    margin-right: 15px;
}

.color-toggle {
    height: 18px;
    width: 18px;
    border-radius: 50%;
    margin-left: 75px;
}

.red {
    background-color: var(--red-color);
    box-shadow: 0px 0px 4px 1px var(--red-color);
}

.pink {
    background-color: var(--pink-color);
    box-shadow: 0px 0px 4px 1px var(--pink-color);
}

.purple {
    background-color: var(--purple-color);
    box-shadow: 0px 0px 4px 1px var(--purple-color);
}

.blue {
    background-color: var(--blue-color);
    box-shadow: 0px 0px 4px 1px var(--blue-color);
}

.green {
    background-color: var(--green-color);
    box-shadow: 0px 0px 4px 1px var(--green-color);
}

.yellow {
    background-color: var(--yellow-color);
    box-shadow: 0px 0px 4px 1px var(--yellow-color);
}

.orange {
    background-color: var(--orange-color);
    box-shadow: 0px 0px 4px 1px var(--orange-color);
}

.back {
    display: flex;
    border-bottom: 1px solid var(--text-color-grey);
    margin: 10px 17px;
    padding-bottom: 5px;
}

.color-toggle-changed-color {
    background-color: var(--red-color);
    box-shadow: 0px 0px 4px 1px var(--red-color);
}


/* width */

::-webkit-scrollbar {
    width: 10px;
}


/* Track */

 ::-webkit-scrollbar-track {
    /* box-shadow: inset 0 0 5px grey; */
    border-radius: 10px;
}


/* Handle */

 ::-webkit-scrollbar-thumb {
    background: var(--red-color);
    /* border-radius: 5px; */
}