html {
    scroll-behavior: smooth;
}

/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

/* Global changes */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

a,
li,
ul,
span {
    text-decoration: none;
}

li,
ul {
    list-style: none;
}

body {
    background-image: linear-gradient( to bottom, rgba(255, 101, 102, 0.3) 10.8%, rgba(205, 180, 219, 0.5) 90%);
    font-family: 'Roboto', sans-serif;
    min-height: 100vh;
}


/* Root colors */

:root {
    --red-color: rgba(255, 51, 102, 0.8);
    --pink-color: rgba(250, 138, 187, 0.8);
    --purple-color: rgba(137, 87, 255, 0.8);
    --blue-color: rgba(0, 187, 255, 0.8);
    --green-color: rgba(0, 204, 136, 0.8);
    --yellow-color: rgba(255, 187, 0, 0.8);
    --orange-color: rgba(255, 107, 0, 0.8);
    --dark-mode: rgba(7, 5, 16, 0.8);
    --text-color-grey: rgba(108, 117, 125, 0.8);
}

.red-color {
    background-color: var(--red-color);
}

.pink-color {
    background-color: var(--pink-color);
}

.purple-color {
    background-color: var(--purple-color);
}

.blue-color {
    background-color: var(--blue-color);
}

.green-color {
    background-color: var(--green-color);
}

.yellow-color {
    background-color: var(--yellow-color);
}

.orange-color {
    background-color: var(--orange-color);
}


/* Every color seperate class */

.color-change {
    background-color: var(--red-color);
}

.dark-mode-color {
    background-color: var(--dark-mode);
}

#container-top {
    display: flex;
    align-items: center;
    justify-content: center;
    position: sticky;
    min-width: 350px;
    top: 0;
    z-index: 9999;
    /* transition: all 1s; */
}

#nav-bar {
    width: 90%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin: 0.8rem 0;
    font-weight: bolder;
    font-family: 'Poppins', sans-serif;
    position: relative;
}

.nav-left {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-weight: 600;
    color: var(--text-color-grey);
}

.nav-left>span {
    cursor: pointer;
    color: var(--dark-mode);
    transition: .4s all;
}

.nav-left>span:hover {
    color: var(--text-color-grey);
    transform: scale(1.01, 1.01);
}

.nav-bar-search-bar-container {
    display: flex;
    flex-direction: row;
    justify-content: stretch;
    width: 70%;
    margin: 0 1rem;
    opacity: 0.1;
    transition: all .5s;
}

.nav-bar-search-bar {
    width: 100%;
}

#nav-site-search {
    width: 100%;
    border-radius: 10px;
    border: none;
    padding: 1rem;
    background-color: rgba(108, 117, 125, 0.1);
}

.nav-right {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: end;
    position: relative;
}

#logo {
    width: 40px;
    height: 40px;
    margin-right: 1rem;
}

#nav-logo {
    cursor: pointer;
    padding: .3rem .4rem;
    border: .1rem solid var(--dark-mode);
    border-radius: 50%;
    color: var(--dark-mode);
    margin-right: 1.5rem;
    position: relative;
    transition: .5s all;
}

#nav-logo:hover {
    transform: scale(1.1, 1.1);
    border: .1rem solid var(--text-color-grey);
    color: var(--text-color-grey);
}

#nav-logo:focus {
    background-color: black;
    transform: scale(0.8);
    transition: all .5s;
}

.nav-log-hover-transition {
    border-radius: 25% !important;
}

#login {
    cursor: pointer;
    padding: 0.5rem 0.8rem;
    border-radius: 0.5rem;
    border: none;
    transition: 0.4s all;
    font-weight: bold;
}

#login:hover {
    transform: scale(1.1, 1.1);
}

.drop-down-menu {
    display: grid;
    height: 0px;
    width: 11rem;
    background-color: #fff;
    color: rgba(6, 6, 0, 0.8);
    position: absolute;
    top: 46px;
    right: 106px;
    grid-template-columns: 1fr;
    border-radius: 18px 2px;
    z-index: 1;
    overflow: hidden;
    opacity: 0;
    transition: all .5s;
}

.drop-down-menu:hover {
    cursor: pointer;
}

.drop-down-menu-display {
    height: 80px;
    opacity: 1;
}

.colors {
    display: flex;
    align-items: center;
    padding: 0.5rem 1rem;
    font-weight: 600;
    font-size: 0.9rem;
    height: 40px;
    border-radius: 18px 2px 0px 0px;
}

.color-toggle-menu {
    display: flex;
    align-items: center;
    padding: 0.5rem 1rem;
    font-weight: 600;
    font-size: 0.9rem;
    height: 40px;
}

.color-toggle-menu:hover {
    border-radius: 18px 2px 0px 0px;
    background-color: rgba(206, 212, 218, 0.2);
}

.color-red:hover {
    border-radius: 4px 4px 4px 4px;
    background-color: rgba(255, 51, 102, 0.3);
    box-shadow: 0px 0px 4px 1px rgba(255, 51, 102, 0.4);
}

.color-pink:hover {
    border-radius: 4px 4px 4px 4px;
    background-color: rgba(250, 138, 187, 0.4);
    box-shadow: 0px 0px 4px 1px rgba(250, 138, 187, 0.4);
}

.color-purple:hover {
    border-radius: 4px 4px 4px 4px;
    background-color: rgba(137, 87, 255, 0.3);
    box-shadow: 0px 0px 4px 1px rgba(137, 87, 255, 0.4);
}

.color-blue:hover {
    border-radius: 4px 4px 4px 4px;
    background-color: rgba(0, 187, 255, 0.3);
    ;
    box-shadow: 0px 0px 4px 1px rgba(0, 187, 255, 0.4);
    ;
}

.color-green:hover {
    border-radius: 4px 4px 4px 4px;
    background-color: rgba(0, 204, 136, 0.3);
    box-shadow: 0px 0px 4px 1px rgba(0, 204, 136, 0.4);
}

.color-yellow:hover {
    border-radius: 4px 4px 4px 4px;
    background-color: rgba(255, 187, 0, 0.3);
    box-shadow: 0px 0px 4px 1px rgba(255, 187, 0, 0.4);
}

.color-orange:hover {
    border-radius: 4px 4px 4px 4px;
    background-color: rgba(255, 107, 0, 0.3);
    box-shadow: 0px 0px 4px 1px rgba(255, 107, 0, 0.4);
}

.toggle-color {
    padding: 0 0.5rem;
}

.dark-mode {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 0.5rem;
    font-weight: 600;
    font-size: 0.9rem;
    height: 40px;
}

.dark-mode:hover {
    border-radius: 0px 0px 18px 2px;
    background-color: rgba(206, 212, 218, 0.2);
}

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
    transform: scale(0.5);
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked+.slider {
    background-color: var(--dark-mode);
}

input:focus+.slider {
    box-shadow: 0 0 1px var(--dark-mode);
}

input:checked+.slider:before {
    transform: translateX(26px);
}

.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

.colors-menu {
    z-index: 2;
    flex-direction: column;
    flex-grow: 1;
    top: 65px;
    right: 159px;
    height: 280px;
    width: 11rem;
    background-color: #fff;
    border-radius: 18px 2px;
    color: rgba(6, 6, 0, 0.8);
    position: absolute;
    top: 46px;
    right: 106px;
    opacity: 0;
    height: 0px;
    overflow: hidden;
    transition: all .5s;
}

.colors-menu:hover {
    cursor: pointer;
}

.display-flex {
    height: 324px;
    opacity: 1;
}

.col {
    height: 20px;
    width: 20px;
    border-radius: 50%;
    margin-right: 15px;
}

.color-toggle {
    height: 18px;
    width: 18px;
    border-radius: 50%;
    margin-left: 75px;
}

.red {
    background-color: var(--red-color);
    box-shadow: 0px 0px 4px 1px var(--red-color);
}

.pink {
    background-color: var(--pink-color);
    box-shadow: 0px 0px 4px 1px var(--pink-color);
}

.purple {
    background-color: var(--purple-color);
    box-shadow: 0px 0px 4px 1px var(--purple-color);
}

.blue {
    background-color: var(--blue-color);
    box-shadow: 0px 0px 4px 1px var(--blue-color);
}

.green {
    background-color: var(--green-color);
    box-shadow: 0px 0px 4px 1px var(--green-color);
}

.yellow {
    background-color: var(--yellow-color);
    box-shadow: 0px 0px 4px 1px var(--yellow-color);
}

.orange {
    background-color: var(--orange-color);
    box-shadow: 0px 0px 4px 1px var(--orange-color);
}

.back {
    display: flex;
    border-bottom: 1px solid var(--text-color-grey);
    margin: 10px 17px;
    padding-bottom: 5px;
}

.color-toggle-changed-color {
    background-color: var(--red-color);
    box-shadow: 0px 0px 4px 1px var(--red-color);
}


/* width */

::-webkit-scrollbar {
    width: 10px;
}


/* Track */

 ::-webkit-scrollbar-track {
    border-radius: 10px;
}


/* Handle */

 ::-webkit-scrollbar-thumb {
    background: var(--red-color);
}

.bottom {
    display: flex;
    width: 90%;
    margin: 100px auto;
}

.bots {
    display: flex;
    background: linear-gradient(to right bottom, rgb(255 255 255 / 0.1), rgb(255 255 255 / 0.5));
    padding: 22px;
    border-radius: 10px;
    flex: 1;
    position: relative;
    backdrop-filter: blur(20rem);
}

.contents {
    display: flex;
    margin: 1rem 0;
    padding: 2rem 0.5rem;
    box-shadow: 5px 7px 15px #00000008;
    border-radius: 15px;
    display: flex;
    align-items: center;
}

.bots h3 {
    font-size: 2.5rem;
    font-weight: bolder;
    border-bottom: 1px solid var(--red-color);
}

.left {
    flex: 2;
    margin-right: 20px;
}

.right {
    flex: 1;
}

.contents img {
    width: 64px;
    height: 72px;
    margin-right: 1rem;
    border-radius: 20%;
}

.head {
    font-size: 1.3rem;
    color: var(--red-color);
    margin-bottom: 0.5rem;
}

.contents p {
    letter-spacing: 0.02rem;
}

.top-heading {
    display: flex;
    justify-content: center;
    align-items: center;
}

.heading-h1 {
    display: flex;
    width: 90%;
    margin: 2rem 0;
    font-size: 1.2rem;
}

.search-container {
    display: flex;
    justify-content: center;
}

input {
    outline: none;
}

.search-bar-container {
    display: flex;
    margin-top: 2rem;
    flex-direction: row;
    width: 90%;
    height: 3.5rem;
    justify-content: center;
    transition: all .5s;
}

#site-search {
    width: 100%;
    border-radius: 10px;
    border: none;
    padding: 1rem;
    background-color: rgba(108, 117, 125, 0.1);
    font-size: 1.1rem;
}

.search-icon {
    cursor: pointer;
    margin-left: 0.5rem;
    width: 3.5rem;
    border: none;
    border-radius: 10px;
    color: black;
    background-color: var(--red-color);
    transition: all .5s;
}

.search-icon:hover {
    transform: scale(1.1, 1.1);
}

.back-one {
    position: absolute;
    top: -68px;
    height: 150px;
    width: 150px;
    background: white;
    right: -50px;
    opacity: 0.2;
    border-radius: 20px;
    z-index: -10;
    filter: blur(3px);
}

back-one::before {
    content: '';
    background-color: rgba(0, 0, 0, 0.3);
}

.back-two {
    position: absolute;
    bottom: -68px;
    height: 150px;
    width: 150px;
    background: white;
    left: -50px;
    opacity: 0.2;
    border-radius: 20px;
    z-index: -10;
    filter: blur(3px);
}

/* Login-Sign-Up form */

@media (max-width:920px) {
    .bots {
        flex-direction: column;
    }
    .right {
        margin-top: 50px;
    }
    .heading-h1 {
        font-size: 0.9rem;
    }
}

/* SignUp and Login form  */

.complete-form-container {
    min-height: 100vh;
    display: none;
    align-items: center;
    justify-content: center;
    font-family: 'Poppins' , sans-serif;
    background: whitesmoke;
    padding: 30px;
    position: relative;
    /* z-index: 999; */
    width: 100%;
    height: 100vh;
    position: sticky;
}

.form-container .cross{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.form-container .cross .login_side {
    margin-left: 40%;    
}

.cross .back_to_homepage {
    cursor: pointer;
    padding: 7px;
    border-radius: 6px;
    border: none;
    color: #fff;
    background-color: #7d2ae8;
    transition: all 0.4s ease;
}

.cross .back_to_homepage:hover {
    background-color: #5b13b9;
}

.form-container {
    position: relative;
    max-width: 850px;
    width: 100%;
    background: #fff;
    padding: 40px 30px;
    box-shadow: 0 5px 10px rgba(0 , 0 , 0 , 0.2);
    perspective: 2700px;
    border-radius: 10px;
}

.form-container .cover {
    position: absolute;
    top: 0;
    left: 50%;
    height: 100%;
    width: 50%;
    z-index: 98;
    transition: all 1s ease;
    transform-origin: left;
    transform-style: preserve-3d;
}

.form-container .cover:before {
    content: '';
    position: absolute;
    height: 100%;
    width: 100%;
    background: #7d2ae8;
}

.form-container .cover img {
    opacity: .8;
    position: absolute;
    height: 100%;
    width: 100%;
    object-fit: cover;
    background-color: #fff;
}

.form-container #flip:checked ~ .cover {
    transform: rotateY(-180deg);
}

.complete-form-container .sign_log_form {
    height: 100%;
    width: 100%;
    background: #fff;
}

.complete-form-container .form-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.form-content .login-form,
.form-content .signup-form {
    width: calc(100% / 2 - 25px);
}

.sign_log_form .form-content .title {
    position: relative;
    font-size: 24px;
    font-weight: 500;
    color: #333;
}

.sign_log_form .form-content .title:before {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    height: 3px;
    width: 25px;
    background: #7d2ae8;
}

.sign_log_form .signup-form .title:before {
    width: 20px;
}

.sign_log_form .form-content .input-boxes {
    margin-top: 30px;
}

.sign_log_form .form-content .input-box {
    display: flex;
    align-items: center;
    height: 50px;
    width: 100%;
    margin: 10px 0;
    position: relative;
}

.form-content .input-box input {
    height: 100%;
    width: 100%;
    outline: none;
    border: none;
    padding: 0 30px;
    font-size: 17px;
    font-weight: 500;
    border-bottom: 2px solid rgba(0 , 0 , 0 , 0.2);
    transition: all 0.3s ease;
}

.form-content .input-box input:focus,
.form-content .input-box input:valid {
    border-color: #7d2ae8;
}

.form-content .input-box i {
    position: absolute;
    color: #7d2ae8;
    font-size: 17px;
}

.sign_log_form .form-content .text {
    font-size: 14px;
    font-weight: 500;
    color: #333;
}

.sign_log_form .form-content .text a {
    text-decoration: none;
    font-weight: 500;
}

.sign_log_form .form-content .text a:hover {
    text-decoration: underline;
}

.sign_log_form .form-content .button{
    color: #fff;
    margin-top: 40px;
}

.sign_log_form .form-content .button input{
    color: #fff;
    background: #7d2ae8;
    border-radius: 6px;
    padding: 0;
    cursor: pointer;
    transition: all 0.4s ease;
}

.sign_log_form .form-content .button input:hover {
    background: #5b13b9;
}

.sign_log_form .form-content label {
    color: #5b13b9;
    cursor: pointer;
}

.sign_log_form .form-content label:hover {
    text-decoration: underline;
}

.sign_log_form .form-content .signup-text , 
.sign_log_form .form-content .login-text {
    margin-top: 25px;
    text-align: center;
}

.form-container #flip {
    display: none;
}

/* Media Queries */

@media (max-width : 750px) {

    .form-container .cover {
        display: none;
    }

    .form-content .login-form,
    .form-content .signup-form {
        width: 100%;
    }

    .form-content .signup-form {
        display: none;
    }

    .form-container #flip:checked ~ .sign_log_form .signup-form {
        display: block;
    }

    .form-container #flip:checked ~ .sign_log_form .login-form {
        display: none;
    }

    .login_side {
        display: none;
    }

    .form-container .cross {
        justify-content: end;
    }
}